.invoice-title {
    color: black;
    font-size: xx-large;
    font-weight: 600;
}
.table-sl{
    background-color: #2355A9;
}
.table-des{
    background-color: #2355A9;
}

.table thead th:first-child{
    background-color: #2355A9;
}

.table thead th:nth-child(2){
    background-color: #2355A9;
}


.table_end_details {
    display: flex;
    justify-content: end;
    gap: 83px;
}
.table-subtotal  {
    color:#363B45 !important;
    font-size: 15px;
    font-weight: 600;
}

.table_end_details-last {
    display: flex;
    justify-content: end;
    gap: 83px;
}